body {
    background-color:#070b0d;
    color: azure;
    text-align: center;
}

div.btnarea{
	width: 90%;
	text-align: left;
	margin:auto;
}

table.fm{
    font-size: large;
    border: solid 3px;
    border-radius: 5px 5px 5px 5px;
    margin:auto;
    width: 90%
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*reméZèoÇÇµÇ‚Ç∑Ç≠Ç∑ÇÈÇΩÇﬂÇ…*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-l,
a.btn-l,
button.btn-l {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
a.btn--blue {
  color: #fff;
  background-color: #0000db;
  border-bottom: 5px solid #000080;
}
a.btn--blue:hover {
  margin-top: 3px;
  color: #fff;
  background: #0000db;
  border-bottom: 2px solid #000080;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.ansimg{
	max-width: 100%;
	height: auto;
}