<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="最新技術と自然との調和を目指す">
<meta name="viewport" content="width=device-width">
<title>FE HERO AKADEMIA</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="js/script.js"></script>
</head>

<body id="top">

<th:block th:if="${flg}">
  <script>
  	alert("残念　答えが違うようです");
  </script>
</th:block>
<header id="header">
	<div id="headerWrap">
		<h1><img th:src="@{/images/logo.png}" width="142" height="80" alt="logo"></h1>
		<nav id="mainnav">
			<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
			<div class="panel">
				<ul>
					<li><a href="#top">TOP</a></li>
					<li><a href="#sec01">1つ目のカギ</a></li>
					<li><a href="#sec02">２つ目のカギ</a></li>
					<li><a href="#sec03">３つ目のカギ</a></li>
					<li><a href="#sec04">４つ目のカギ</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<div id="mainImg">
	<img th:src="@{/images/logo.png}" alt="">
</div>
<!-- MESSAGE -->
<section id="sec01">
	<header>
		<h2><span>1問目</span></h2>
	</header>
	<div class="innerS">
		<p>問題を解いて得られたキーワードを使って、暗号を解け</p>
		<img th:src="@{/images/26.png}"  alt='26'>
		<img th:src="@{/images/4.png}"  alt='4'>
		<img th:src="@{/images/2.png}"  alt='2'>
		<img th:src="@{/images/23.png}"  alt='23'>
		<img th:src="@{/images/31.png}"  alt='31'>
		<img th:src="@{/images/21.png}"  alt='21'>
		<img th:src="@{/images/31.png}"  alt='32'>
		<img th:src="@{/images/4.png}"  alt='5'>
		<img th:src="@{/images/9.png}"  alt='9'>
		<img th:src="@{/images/29.png}"  alt='29'>
		<img th:src="@{/images/27.png}"  alt='27'>
		<img th:src="@{/images/12.png}"  alt='12'>
		<img th:src="@{/images/11.png}"  alt='11'>
		<img th:src="@{/images/1.png}"  alt='1'>
		<img th:src="@{/images/17.png}"  alt='17'>
		<img th:src="@{/images/13.png}"  alt='13'>
		<img th:src="@{/images/22.png}"  alt='22'>
		<form th:action="@{ans/q1}" method="post">
			<div class="cp_iptxt">
				<label class="ef">
				<input type="text" placeholder="学籍番号：" name="orgno">
				</label>
				<label class="ef">
				<input type="text" placeholder="こたえ：" name="answer">
				</label>
				<label class="submitbtn">
				<input type="submit" value="送信">
				</label>
			</div>
		</form>
	</div>
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span>2問目</span></h2>
	</header>
	<div class="innerS">
		<p>問題を解いて得られたキーワードを使って、暗号を解け</p>
		<img th:src="@{/images/7.png}"  alt='7'>
		<img th:src="@{/images/15.png}"  alt='15'>
		<img th:src="@{/images/23.png}"  alt='23'>
		<img th:src="@{/images/1.png}"  alt='1'>
		<img th:src="@{/images/27.png}"  alt='27'>
		<img th:src="@{/images/14.png}"  alt='14'>
		<img th:src="@{/images/1.png}"  alt='2'>
		<img th:src="@{/images/12.png}"  alt='12'>
		<img th:src="@{/images/18.png}"  alt='18'>
		<img th:src="@{/images/16.png}"  alt='16'>
		<img th:src="@{/images/26.png}"  alt='26'>
		<img th:src="@{/images/25.png}"  alt='25'>
		<img th:src="@{/images/9.png}"  alt='9'>
		<img th:src="@{/images/8.png}"  alt='8'>
		<img th:src="@{/images/6.png}"  alt='6'>
		<img th:src="@{/images/20.png}"  alt='20'>
		<img th:src="@{/images/5.png}"  alt='5'>
		<img th:src="@{/images/29.png}"  alt='29'>
		<img th:src="@{/images/23.png}"  alt='24'>
		<img th:src="@{/images/12.png}"  alt='13'>
		<img th:src="@{/images/4.png}"  alt='4'>
		<img th:src="@{/images/22.png}"  alt='22'>
		<img th:src="@{/images/32.png}"  alt='32'>
		<img th:src="@{/images/31.png}"  alt='31'>
		<p>
		<form th:action="@{ans/q2}" method="post">
			<div class="cp_iptxt">
				<label class="ef">
				<input type="text" placeholder="学籍番号：" name="orgno">
				</label>
				<label class="ef">
				<input type="text" placeholder="こたえ：" name="answer">
				</label>
				<label class="submitbtn">
				<input type="submit" value="送信">
				</label>
			</div>
		</form>
	</div>
</section>
<!-- // GALLERY -->

<!-- PROJECT -->
<section id="sec03">
	<header>
		<h2><span>3問目</span></h2>
	</header>
	<div class="innerS">
		<p>問題を解いて得られたキーワードを使って、暗号を解け</p>
		<img th:src="@{/images/4.png}"  alt='4'>
		<img th:src="@{/images/31.png}"  alt='31'>
		<img th:src="@{/images/3.png}"  alt='3'>
		<img th:src="@{/images/5.png}"  alt='5'>
		<img th:src="@{/images/17.png}"  alt='17'>
		<img th:src="@{/images/13.png}"  alt='13'>
		<img th:src="@{/images/32.png}"  alt='32'>
		<img th:src="@{/images/15.png}"  alt='15'>
		<img th:src="@{/images/27.png}"  alt='27'>
		<img th:src="@{/images/18.png}"  alt='18'>
		<img th:src="@{/images/26.png}"  alt='26'>
		<img th:src="@{/images/11.png}"  alt='11'>
		<img th:src="@{/images/1.png}"  alt='1'>
		<img th:src="@{/images/22.png}"  alt='22'>
		<img th:src="@{/images/20.png}"  alt='20'>
		<img th:src="@{/images/23.png}"  alt='23'>
		<p>
		<form th:action="@{ans/q3}" method="post">
			<div class="cp_iptxt">
				<label class="ef">
				<input type="text" placeholder="こたえ：" name="answer">
				</label>
				<label class="submitbtn">
				<input type="submit" value="送信">
				</label>
			</div>
		</form>
	</div>
</section>

<!-- BRAND --> 
<section id="sec04">
	<header>
		<h2><span>4問目</span></h2>
	</header>
	<div class="innerS">
		<p>問題を解いて得られたキーワードを使って、暗号を解け</p>
		<img th:src="@{/images/18.png}"  alt='18'>
		<img th:src="@{/images/28.png}"  alt='28'>
		<img th:src="@{/images/4.png}"  alt='4'>
		<img th:src="@{/images/10.png}"  alt='10'>
		<img th:src="@{/images/17.png}"  alt='17'>
		<img th:src="@{/images/20.png}"  alt='20'>
		<img th:src="@{/images/14.png}"  alt='14'>
		<img th:src="@{/images/23.png}"  alt='23'>
		<img th:src="@{/images/30.png}"  alt='30'>
		<img th:src="@{/images/21.png}"  alt='21'>
		<img th:src="@{/images/2.png}"  alt='2'>
		<img th:src="@{/images/3.png}"  alt='3'>
		<img th:src="@{/images/31.png}"  alt='31'>
		<img th:src="@{/images/12.png}"  alt='12'>
		<img th:src="@{/images/22.png}"  alt='22'>
		<img th:src="@{/images/11.png}"  alt='11'>
		<img th:src="@{/images/6.png}"  alt='6'>
		<img th:src="@{/images/29.png}"  alt='29'>
		<img th:src="@{/images/25.png}"  alt='25'>
		<img th:src="@{/images/13.png}"  alt='13'>
		<p>
		<form th:action="@{ans/q4}" method="post">
			<div class="cp_iptxt">
				<label class="ef">
				<input type="text" placeholder="こたえ（半角で入れてね）：" name="answer">
				</label>
				<label class="submitbtn">
				<input type="submit" value="送信">
				</label>
			</div>
		</form>
	</div>
</section>
<!-- // STORY -->

</body>
</html>