<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="最新技術と自然との調和を目指す">
		<meta name="viewport" content="width=device-width">
		<title>そうとくのつぶやき</title>
		<link rel="stylesheet" media="all" th:href="@{/css/twitter.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<div class="wrap">
			<header>
				<h1>総督のつぶやき</h1>
			</header>
			<main>
				<section>
					<img class="headlogo" th:src="@{'/images/'+${headerlogo}}">
				    <div>
				      <img th:src="@{'images/'+${icon}}" class="ownhead">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">誕生日：教える必要などない</p>
				    </div>
				    <div class="flex contents">
				      <p>FE合格のためなら手段など選ばぬ男。でも情にはもろい</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年5月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">これ以上、このアカウントでつぶやく必要はないだろう・・・。これが最後だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年5月2日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">魔王は、、、私の息子だったのか、、、。もし万が一、息子を倒すような奴が居れば、私は敵を討つことにする</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年5月1日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ようやく落ち着いた。私がこの世から居なくなった時、もしくはマーベラスFEが戻った時のためにここに記載しておく。<br>
				      彼はどうやら私の息子のようだ。部屋を整理していてあるものを見つけた。写真だ。そこには私の妻が写っていた。<br>
				      彼女つまりマーベラスFEの母から、マーベラスFEあてに送られた手紙もあった。そこには「あなたの父は死んだ。」とあった。どうやら、川でおぼれて死んだというのは妻の狂言だったようだ。<br>
				      妻が息子と川に遊びに行き、泣きながら息子が川に流されて行方不明になったと帰ってきた時のことは忘れもしないが、あれは嘘だったのだ。<br>
				      今思えば、妻は家族を顧みず、仕事に没頭する私を憎んでいた。息子から私を遠ざけたかったのだろう。まだ4歳にも満たない息子をつれて消えたのだ。その後、3歳より前の私が写っている写真は全て捨てたのだろう。一枚もなかった。<br>
				      マーベラスFE、、、いや息子が私と会い父親だと気づいたかは今となっては分からないが、、、、。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年3月6日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ショックだ・・・。とてもじゃないが信じられないし、受け入れられない。明日は休む。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年3月5日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">明日、マーベラスFEの部屋を整理しよう</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年3月1日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">魔王がかなり猛威をふるっている。脅威だ。薬は思ったよりも強力だ。彼はもう以前の記憶はないのかもしれない。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年2月17日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">キャプテンFEに部屋を与えようと思う。マーベラスFEが使っていた部屋を整理して明け渡そう。私としても辛いが。。。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年2月17日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">合格した。今日から彼は「キャプテンFE」だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年2月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今度、見込みがある彼に試験をすることにする。合格すれば彼がキャプテンだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年2月1日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ひとり見込みのあるやつを発見した。去年入学したやつだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2013年1月13日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">またひとり隊員が魔王に返り討ちあった。これでまた一人才能がない奴が消えた。ちょうどよい。少数精鋭のほうが鍛えがいがある</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年12月29日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">またひとり隊員が魔王に返り討ちあったようだ。しかし、これは良いフィルターになる。才能がない奴はこれで諦めてくれるだろう。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年12月21日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">またひとり隊員が魔王に返り討ちあったようだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年12月15日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">またひとり隊員が魔王に返り討ちあったようだ。実力もないのに挑むからだ。私の愛弟子に勝てるわけなかろう。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年12月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">血の気の多い隊員が魔王に挑んでいった。返り討ちにあったようだ。あいつは血の気が多いだけで実力はいまいちだった。仕方あるまい。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月21日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">早速効果が現れ始めた。みんな「魔王を倒す！」「マーベラスFEの加勢をしにいくんだ」と団結している。いつもよりトレーニングに身が入り効果が上がっているようだ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">予定通り、「魔王」は各地で猛威を振るっている。流石だ。力を取り戻した彼は強力だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">私は隊員に告げた「恐ろしい魔王が現れた」と。そしてマーベラスFEが討伐の旅に出かけたことも伝えた。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月11日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">朝見ると彼は部屋にいなかった。私がそうコントロールしたのだが、、、これからかれは「魔王」だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">先ほど薬を飲ませた。寝ている彼に飲ませたが、飲ませた直後、目を覚まし目が合った。どうやら彼は薬のことを知っていたようだ。「これでようやく解放される」とつぶやいて涙を流していた。私が「さらばだ。君はこれからもずっと変わらず愛弟子だ」と伝えると「ありがとう」といって静かに目を閉じた。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">1週間たったが変わらずだ。残念だ。今夜実行する。かれにあの薬を飲ませる。これは強い隊員を育てるという彼の思いを実現するためでもあるんだ。きっと彼も望んでいるはずだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月3日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">私は決心した。1週間待って変わらなければ決行する。これ以上、こんな姿の彼を見てられない。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年11月2日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">彼はまだ元気がない・・・。弱気な発言も見られる・・・・。見てられない。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月30日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">隊員からマーベラスFEのことを聞かれた。士気を下げるわけにはいかない。「彼は今特別メニューこなしている途中だ」と伝えた</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月25日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">しかし、このまま彼が元気がないのならば、、、</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月22日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEは、まだ復帰できるほ回復していない。いっそ彼を・・・・。いや、、、かれは私の愛弟子だ。息子同然なのだぞ！</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月21日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">あの薬を飲ませるのはある程度、実力があるものが適任だ・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEが倒れた。しばらく休ませる。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月18日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日も彼と飲んだ。「私は向いてないんでしょうか」と言っていた。そんなことはない。。。君は非常によくやっているのだ。あの薬を誰かに飲ませさえすれば・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月17日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日も彼と飲んだ。「私は向いてないんでしょうか」と言っていた。そんなことはない。。。君は非常によくやっているのだ。あの薬を誰かに飲ませさえすれば・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月16日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">疲れ切っている彼は見てられない・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月15日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日も効果が上がらない・・・。マーベラスFEも疲れてきっている。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月14日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">いや、だめだ、彼だけは、、、　彼だけは裏切ってはならない。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月13日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">私は恐ろしいことを思いついてしまった・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日もトレーニングの効果がみられない・・・。マーベラスFEも非常に悩んでいてノイローゼ寸前だ・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月5日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEを慰めるため、一緒に酒を飲んだ。彼とはなぜか気が合う。彼は小さいころの記憶がないと言ってた。親からは事故に合い一種の記憶喪失なのだとか</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年10月1日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEは悩みすぎている。この前、非常に思い詰めている顔をしている姿を見かけた。彼のためにも何とか「危機感」を煽る何かにFEアカデミアを襲わせねば・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月26日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEと会議を開いた。やはりトレーニングの効果が上がらないことに悩んでいる。彼も私も最近は少し落ち込み気味だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月19日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">この薬の力はほんものだ・・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月17日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">試しに隊員の一人にこっそり試してみた。出来損ないの彼は私の思惑通り、問題行動を起こしアカデミアを除籍された</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月16日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">問題は誰に飲ませるかだな・・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月15日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ついに薬を手に入れた・・・。これを飲ませれば、私の思い通りに意識をコントロールできる。これを飲ませ、FE合格を阻止するものとしてFEアカデミアを襲わせれば、危機感を煽れるはずだ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年9月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">私は昔の知り合いと話していいことを聞いた。私の記録のためにこのつぶやきは続けるが、ここからこのアカウントは隠ぺいしよう。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月27日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日もいまいちトレーニングの効果がでない。「危機感をあおる何か」がやはり必要だ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月25日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">連日マーベラスFEと話して、結論が出た「危機感をあおる何か」が必要だと</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月22日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEと今日も話した。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月21日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEと今日も話した。どうすればいいのかを</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEと緊急会議を開いた。あいつも私と同じことを感じているようだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年8月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">どうにも効果が出ない。なんなのだ？！この危機感のなさは・・・</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年6月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEも嘆いている。骨のあるやつがいない。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年6月5日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日のトレーニングの効果もいまいちだ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年6月4日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">隊員は一所懸命やっているようだが、いまいち、みんな伸び悩んでいる。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年5月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">新しい隊員は、どいつもこいつも・・・・って感じだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年4月19日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">新入生から私とマーベラスFEの声が似ているといわれた。だからか？彼といると落ち着く。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年4月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEと二人主催で新入生歓迎パーティーを開いた。もちろんフルーチェのフルコースだ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年3月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEのおかげで入隊希望者が増えた。かれはまさしく私の愛弟子だ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年3月14日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日は息子の命日だ。思い出したくもないが、息子は3歳ぐらいの時に妻と川遊び中に流されてしまったらしい</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年2月5日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">マーベラスFEのおかげで他の隊員も力がついてきた。彼にはどうやらカリスマ性がありそうだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2012年1月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日は成人式だ。私の息子が生きていれば成人式だったな。今日は一人、写真を見ながらお祝いの酒でも飲むとしよう</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2011年12月31日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">大晦日も特訓をしたいという。なんてストイックな奴だ。嫌いじゃないぞ。その姿勢。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年12月24日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">彼にクリスマスプレゼントを用意した。私の弟子にすることと「マーベラスFE」という名前のプレゼントだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年11月20日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">特別メニューに根をあげずに何とかついてきている。中々骨のあるやつだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年11月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">今日彼のほうから申し出があった。特別訓練をしてほしいと。中々見込みのあるやつだ。特別メニューを組んでやった</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年11月10日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">有象無象の中にきらりと光る逸材を見つけた。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年11月05日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">総督になって１か月隊員はみんな頑張ってはいるが、中々力がつかない、、、なぜだ。</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@urasotoku</p>
				      <p class="date">2010年10月05日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ついに私が総督になった！記念すべき日だ。これからガンガン鍛えてFEアカデミアを盛り上げていくぞ</p>
				      <img th:src="@{/images/ipEW4QJkK4.png}">
				      <img th:src="@{/images/gqEhtQkEFk.png}">
				      <img th:src="@{/images/NAfm8VD1JZ.png}">
				      <img th:src="@{/images/CKCfKBB5yF.png}">
				    </div>
				</section>
			</main>
		</div>
	</body>
</html>