<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="最新技術と自然との調和を目指す">
		<meta name="viewport" content="width=device-width">
		<title>そうとくのつぶやき</title>
		<link rel="stylesheet" media="all" href="/css/twitter.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<div class="wrap">
			<header>
				<h1>総督のつぶやき</h1>
			</header>
			<main>
				<section>
					<img class="headlogo" th:src="@{'/images/'+${headerlogo}}">
				    <div>
				      <img th:src="@{'/images/'+${icon}}" class="ownhead">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">誕生日：1977年03月14日</p>
				    </div>
				    <div class="flex contents">
				      <p>水馬赤いなあいうえお 浮藻に小蝦も泳いでる 柿の木栗の木かきくけこ 啄木鳥こつこつ枯れ欅 大角豆に酢をかけさしすせそ その魚浅瀬で刺しました 立ちましょ喇叭でたちつてと トテトテタッタと飛び立った 蛞蝓のろのろなにぬねの 納戸にぬめってなにねばる 鳩ポッポほろほろはひふへほ 日向のお部屋にゃ笛を吹く 蝸牛ネジ巻まみむめも 梅の実落ちても見もしまい 焼栗茹栗やいゆえよ 山田に灯のつくよいの家 雷鳥は寒かろらりるれろ 蓮花が咲いたら瑠璃の鳥 わいわいわっしょいわゐうゑを 植木屋井戸換えお祭りだ<br>北原白秋「五十音の歌」より</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'/images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">2020年01月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤイユエヨワヰウヱヲン</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'/images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">2020年01月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやいゆえよわゐうゑをん</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'/images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">2020年01月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">1234567890</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'/images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">2020年01月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">abcdefghijklmnopqrstuvwxyz</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
				<section>
				    <div class="flex">
				      <img th:src="@{'/images/'+${icon}}" class="own">
				      <h2 th:text="${name}"></h2>
				      <p class="id">@template_ya_ya</p>
				      <p class="date">2020年01月12日</p>
				    </div>
				    <div class="flex contents">
				      <p class="text">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
				      <img src="/images/ipEW4QJkK4.png">
				      <img src="/images/gqEhtQkEFk.png">
				      <img src="/images/NAfm8VD1JZ.png">
				      <img src="/images/CKCfKBB5yF.png">
				    </div>
				</section>
			</main>
		</div>
	</body>
</html>